#heading {
    color: #E9ECEF;
    font-size: 28px;
    text-align: center;
}

thead {
    border: 1px solid black;
}

table {
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
   background-color: #E9ECEF;  
}

td {
    text-align: center;
}

#table-container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    width: 190px;
    height: 100px;
}